<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monkey REg</title>
</head>
<body>
    <h1>Sign up here monkeys!</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/registration" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name:">
        <input type="text" name="last_name" placeholder="Last Name:">
        <input type="email" name="email" placeholder="Email:">
        <input type="text" name="phone_number" placeholder="Phone Number:">
        <input type="password" name="password" placeholder="Password:">
        <input type="password" name="confirm" placeholder="Confirm Password:">
        <button>Register</button>
    </form>
</body>
</html>